################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookManagerAPI/bin/Debug/net6.0
/BookManagerAPI/.vs
/BookManagerAPI/obj
/BookManagerAPI/appsettings.Development.json
/BookManagerAPI/instruction.txt
